.content {
    height: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

.content a {
    text-decoration: none;
}

.content p {
    font-size: larger;
}

.page__position {
    margin-top: 200px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    background: #fff;
    border: none;
    border-radius: 20px;
    width: 400px;
}

.all__customer {
    display: flex;
    justify-content: space-around;
    border: 2px solid;
}